$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #fb5607;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-fourth-light: #b5e48c;
$color-fourth-dark: #386641;

// $color-grey-light: #f7f7f7;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
//font
$default-font-size:1.6rem;

