.section-about {
    background-color: #fff;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    margin-top: 15rem;
    display: flex;
    align-items: center;
    height: 80rem;
    background-size: cover;
    background-image: linear-gradient(
    to right bottom,
     rgba($color-primary-light, 0.801),
      rgba($color-primary-dark, 0.801)),
      url('../img/hero.jpg');

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(phone) {
        background-image: none;
    }

   
    

}

.feature-box_container {
    display: flex;
    justify-content: space-between;

    @include respond (tab-port) {
        flex-direction: column;
        margin-bottom: 2rem;
    
    }
}

.section-tours {
    background-color: #fff;
    padding: 25rem 0;
    margin-top: -20vh;
}

.card-container {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}

.section-book {
    display: flex;
    justify-content: center;
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

}

.book-container {
    background-image: url(../img/booking-bg.jpg);
    // background-image: linear-gradient(105deg,
    //                                 rgba(white,.7)0%,
    //                                 rgba(white, .7)50%);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 3.5rem 6rem rgba($color: #000000, $alpha: .35);

    height: 50rem;
    width: 100rem;

    &_form {
        width: 50%;
        padding: 6rem;

    }
}
