.btn{
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    transition: all .2s;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, .2);
    }
    
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black,.2);
    }
    
    &-white{
        background-color: #fff;
        color: #777;
        padding: 15px 40px;
        display: inline-block;
        
    }

    &--green {
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        color: white;
        padding: 15px 40px;
        display: inline-block;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
    }

    &:hover {
        background-color: $color-primary;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba($color-black, .25);
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(0);
    }
}

