.card {
    perspective: 150rem;
    margin: 3.5rem;
    width: 30rem;
    height: 40rem;
    position: relative;
    top: 0;
    left: 0;
    
   

    &_side {
        position: absolute;
        color: white;
        width: 30rem;
        height: 47rem;
        font-size: 2rem;
        backface-visibility: hidden;
        transition: all 1s ease;
        border-radius: 5px;
        box-shadow: 0 1.5rem 5rem rgba($color: #000000, $alpha: .75);
        

        &--front {
            
        }

        &--back {
            // background-color: green;
            transform: rotateY(-180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
               
            }

            &-2{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-fourth-light, $color-fourth-dark);
            }

        }
    }
  

    &:hover &_side--front {
        transform: rotateY(180deg);
    }

    &:hover &_side--back {
        transform: rotateY(0);
    }

    //front-side styling
    &_picture {
        background-size: cover;
        background-blend-mode: soft-light;
        height: 23rem;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

        &-1{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
            url(/img/nat-5.jpg);
            
        }

        &-2{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
            url(/img/nat-5.jpg);
        }

        &-3{
            background-image: linear-gradient(to right bottom, $color-fourth-light, $color-fourth-dark),
            url(/img/nat-5.jpg);
        }
    }

    &_heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: white;
        position: absolute;
        top: 12rem;
        right: 2rem;
    }

    &_heading-span {
       
        padding: 1rem 2.5rem;

        &--1 {
            background-image: linear-gradient(to right bottom,
             rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }
    }

    &_details {
        display: flex;
        justify-content: center;

        ul {

            list-style: none;
            width: 80%;
            
        }

        li {

            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            color: #6c757d;

            &:not(:last-child) {
                border-bottom: 1px solid #f2cc8f;
            }

        }
    }

    &_cta {
        height: 40rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
    }

    &_price-box {
        margin-top: 10rem;

    }

    &_price-only {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
        text-transform: uppercase;
       
    }

    &_price-value {
        font-size: 6rem;
        font-weight: 100;

    }
}

