.composition {
    position: relative;

    &_photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(black,.4);
        border-radius: 2px;
        transition: all .2s;
        position: absolute;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
           
        }

        &--p2 {
            right: 0;
            top: 4rem;
          
        }

        &--p3 {
            left: 8rem;
            top: 19rem;
          
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            z-index: 1;
        }
    }

    &:hover &_photo:not(:hover) {
        transform: scale(.95);
    }


}
