.form {

    &_group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &_label {
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &_input {
        width: 100%;
        font-family: inherit;
        margin-right: 2rem;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        font-family: inherit;
        background-color: rgba(white, .5);
        border: none;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 3rem rgba(black, .2);
            border-bottom: 3px solid $color-primary-dark;

            &:invalid {
                border-bottom: 3px solid #f3722c;
            }
        }

        &::-webkit-input-placeholder {
            color: #495057;
            
        }

    }

    &_input:placeholder-shown + &_label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &_radio-group-container {
        display: flex;
        justify-content: space-between;
    }

    &_radio-group {
        display: flex;
    }

    &_radio-input {
        width: 3rem;
        height: 3rem;
        margin-right: 5px;
    }

    &_radio-label {
        font-size: inherit;
        cursor: pointer;
        
    }

    &_button {
        height: fit-content;
        margin-top: 3rem;
    }

    
}