.story {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10rem;
    box-shadow: 0 3rem 6rem rgba($color: #000000, $alpha: .2);
    border-radius: 3px;
    padding: 6rem;
    font-size: inherit;
    transform: skewX(-12deg);

    & > * {
        transform: skew(12deg);
    }

    &_shape {
        position: relative;
        margin-right: 2rem;
        width: 15rem;
        height: 15rem;
        float: left;
        border-radius: 50%;

        &-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;

        }

    }

    &:hover &_shape-image {
        filter: blur(3px) brightness(60%);
    }



    &_caption {
        position: absolute;
        top: 50%;
        color: white;
        font-weight: 700;
        left: 50%;
        transform: translate(-50%,20%);
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
    }

    &:hover &_caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

}