@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(15px);
    }

    100%{
        opacity: 1;
        transform: translate(0);

    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-15px);
    }

    100%{
        opacity: 1;
        transform: translate(0);

    }
}

// .composition {

//     &_photo {
//         width: 55%;
//         box-shadow: 0 1.5rem 4rem rgba(black,.4);
//         border-radius: 2px;
//     }

// }

// .composition {
//     background-color: aqua;
// }