
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

    
    
    @include respond(tab-land) {
        font-size: 58%;
    }

    @include respond(tab-port) {
        font-size: 52%;
    }

    @include respond(phone) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 80%;
    }

}

.section-content {
    margin: auto;
}

.section-about { 
    margin: auto;
    width: 80%;
}

.feature-box_container {
    margin: auto;
    width: 80%;
}
