body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;

    &-main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;    
        animation: moveInLeft 2s ease-out;

        @include respond(phone) {
            font-size: 4rem;
            letter-spacing: 1rem;
        }
    }
    
    &-sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.5px;
        animation: moveInRight 2s ease-out;

        @include respond(phone) {
            font-size: 1rem;
            letter-spacing: 5px;
        }
    }
}

.heading-secondary {
    margin: auto;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 2.5rem;
    }

    @include respond(phone) {
        font-size: 2rem;
    }



    &:hover {
        transform: skewY(2deg) skewX(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);


    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }

}

.book-now {
    margin-left: 16rem;
    margin-top: 2rem;
}