.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-top-big {
    margin-top: 12rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.section_content {
    display: flex;
}

.section_content-text {
    flex: 1;
}

.section_content-image {
    flex: 1;
}

